
body {background-color: #A9A9A9;}
h1 { 
    color: black; 
} 
button {
    padding: 6px;
    border-radius: 5px;
    margin-top:5px;
    margin-bottom: 5px;
    border: none;
    color: black;
    cursor: pointer;
 display: inline; 
    background-color: #4682B4;
    width: 5%;
    font-size: 16px;
} table, th, td {
  border: 10px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #4682B4;
}
.wrap { 
    display: inline; 
    justify-content: center; 
    align-items: center; 
}
.wrap1 { 
    display: inline; 
    justify-content: center; 
    align-items: center; 
}