     /* style.css */
body { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: sans-serif; 
    line-height: 1.5; 
    min-height: 100vh; 
    background: #A9A9A9; 
    flex-direction: column; 
    margin: 0;
background-color: #696969;
background-image: url("img.jpg");
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
 background-size: 100% 100% 
} 
  
.main { 
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    padding: 10px 15px; 
    transition: transform 0.2s; 
    width: 500px; 
    text-align: center; 
} 
  
h1 { 
    color: #4682B4; 
} 
label { 
    display: block; 
    width: 100%; 
    margin-top: 10px; 
    margin-bottom: 5px; 
    text-align: left; 
    color: #555; 
    font-weight: bold; 
} 
  
#pass { 
    color: Red; 
    font-size: 12px; 
} 
  
input { 
    display: block; 
    width: 100%; 
    margin-bottom: 15px; 
    padding: 10px; 
    box-sizing: border-box; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
} 
select { 
    display: block; 
    width: 100%; 
    margin-bottom: 15px; 
    padding: 10px; 
    box-sizing: border-box; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
} 
  
button { 
    padding: 6px; 
    border-radius: 10px; 
    margin-top: 15px; 
    margin-bottom: 15px; 
    border: none; 
    color: white; 
    cursor: pointer;
 display: inline; 
    background-color: #4682B4; 
    width: 40%; 
    font-size: 16px; 
} 
  
.wrap { 
    display: inline; 
    justify-content: center; 
    align-items: center; 
}img {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
}

img:hover {
  box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
}